<%= render "form" %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
      <script>handler = Gmaps.build('Google');
                handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                  markers = handler.addMarkers(
                
                <%= raw @usershash.to_json %>
              );
            
              handler.fitMapToBounds();
              handler.map.centerOn({ lat: <%= @user.lat %>, lng: <%= @user.lng %> })
            });</script>
  </div>
</div>
